<!doctype html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <title>White label - Ecommerce</title>
 </head>
 <body>
   <div class="container">
       <h1>{{ request.site.store}} </h1>
   </div>  
   <div class="container" style="display:flex; flex-wrap:wrap">
     {% for product in products %}
       <div class="card" style = "width:18rem; margin:10px">
         <div class="card-body">
             <h5 class="card-title">{{ product.title }}</h5>
             <p class="card-text">{{ product.description }}</p>
             <a href="#" class="btn btn-primary">Buy now</a>
         </div>
       </div>
     {% endfor%}
   </div>
 </body>
</html>

